<?xml version="1.0" encoding="utf-8"?>
<project type="project" version="1">
    <name>project_name</name>
    <schemaMapping type="schemaMapping" version="1">
        <source elementType="string" elementCount="1">
            <string>backup1_db</string>
        </source>
        <destination elementType="string" elementCount="1">
            <string>backup2_db</string>
        </destination>
    </schemaMapping>
    <left type="tcpIpDataSource" version="1">
        <databaseName>backup1_db</databaseName>
        <userName>root</userName>
        <savePassword>True</savePassword>
        <password encrypted="True">O/0NAuHvdlI=</password>
        <server>localhost</server>
        <port>3306</port>
    </left>
    <right type="tcpIpDataSource" version="1">
        <databaseName>backup2_db</databaseName>
        <userName>root</userName>
        <savePassword>True</savePassword>
        <password encrypted="True">O/0NAuHvdlI=</password>
        <server>localhost</server>
        <port>3306</port>
    </right>
    <direction>From1To2</direction>
    <options type="options" version="1">
        <selectedOptions elementType="string" elementCount="3">
            <string>TrimTrailingSpaces</string>
            <string>IncludeCommentHeader</string>
            <string>IncludeSchemaName</string>
        </selectedOptions>
    </options>
    <groupingStyle>Comparison</groupingStyle>
    <tableMappings type="tableMappings" version="1">
        <tableMappings elementType="tableMapping" elementCount="0" />
    </tableMappings>
</project>